{{ form_start(form, {'attr': {'data-controller':'manager--teleworking', 'data-manager--teleworking-target':'form'}}) }}
<div class="form-step form-step-active" data-manager--teleworking-target="formStep">
	<h2>Récapitulatif de la demande</h2>

	<h3>Conditions d'éligibilité : nature du contrat, activité et autonomie</h3>
	<div class="first-part-form">
		<div class="first-part-form__a">
			<p>Nature du contrat :
				{{ teletravail_form.natureContrat }}</p>
			<p>Quotité :
				{{ teletravail_form.quotite }}</p>
			<p>Fonction exercée :
				{{ teletravail_form.fonctionExercee }}</p>
		</div>
	</div>
	<div class="second-part-form">
		<h3>Conditions techniques, matérielles et administratives pour accéder au télétravail</h3>

		<p>Connexion internet :
			{{ teletravail_form.ConnexionInternet ? 'Oui' : 'Non' }}</p>
	</div>
	<div class="third-part-form">
		<h3>Detail de la demande</h3>

		<p>Lieu du télétravail (adresse complète conforme à celle présente sur l'attestation d'assurance) :
			{{ teletravail_form.lieuTeletravail  }}</p>
		<p>Demande à bénéficier du télétravail régulier à compter du :
			{{ date(teletravail_form.aCompterDu)|date('d/m/Y') }}</p>
		<p>Date de fin du télétravail (la durée ne peut être supérieure à 12 mois) :
			{{ date(teletravail_form.dateFinTeletravail)|date('d/m/Y') }}</p>

		<p>Journée(s) télétravaillée(s), maximum 2 jours par semaine :
			{% for day in teletravail_form.journeesTeletravaillees %}
				{{ day }}
				{% if not loop.last %},
				{% endif %}
			{% endfor %}

		</p>
	</div>
</div>


<div class="form-step display-step" data-manager--teleworking-target="formStep">
	<h3>Validation manager</h3>
	{{ form_row(form.periodeEssai)}}
	{{ form_row(form.activiteEligible) }}
	{{ form_row(form.autonomieSuffisante)}}
	<h4>La demande respecte :
	</h4>
	{{ form_row(form.conditionsEligibilites) }}
	{{ form_row(form.conditionsTechMatAdm)}}
	{{ form_row(form.desorganiseService)}}
	{{ form_row(form.avisManager, {'attr':{'data-manager--teleworking-target':'avisUnused'}}) }}

	<div>
		<label>Avis du responsable hiérarchique : </label>
		{% for label, value in field_choices(form.avisManager) %}
			<input id="teletravail_form_avisManager_{{loop.index0}}" type="radio" name="teletravail_form[avisManager]" value="{{ value }}" placeholder="teletravail_form_avisManager_placeholder_{{loop.index0}}" data-action="click->manager--teleworking#displayComments">
			<label for="teletravail_form_avisManager_{{loop.index0}}">{{label}}</label>
		{% endfor %}
	</div>
	<div class="drh-comment" data-manager--teleworking-target="managerComment">
		{{ form_label(form.commentaireManager) }}
		{{ form_widget(form.commentaireManager) }}
	</div>
</div>
<button class="btn validate-form validation" data-manager--teleworking-target="signatureButton" data-action='manager--teleworking#submitForm'>{{ button_label|default('Signer') }}</button>
<input type="button" class="btn btn-prev" value="Précédent" data-manager--teleworking-target="navButton" data-action="click->manager--teleworking#displayStep">
<input type="button" class="btn btn-next" value="Suivant" data-manager--teleworking-target="navButton" data-action="click->manager--teleworking#displayStep">
{{ form_end(form) }}
